In [ ]:
import os
import json
import numpy as np
import pandas as pd

data_root = 'path/to/data' # Adjust this path as needed

ali_train = pd.read_csv(f'{data_root}/AliExpress_NL/train.csv')
ali_test = pd.read_csv(f'{data_root}/AliExpress_NL/test.csv')

In [4]:
ali_train.head()

,search_id,categorical_1,categorical_2,categorical_3,categorical_4,categorical_5,categorical_6,categorical_7,categorical_8,categorical_9,...,numerical_56,numerical_57,numerical_58,numerical_59,numerical_60,numerical_61,numerical_62,numerical_63,click,conversion
0,3,8,0,0,0,8,4,31,0,3,...,0.817889,0.119395,0,0,0,0.47871,0.319446,0.373299,0,0
1,3,8,0,0,0,8,4,31,0,3,...,0.818441,0.168989,0,0,0,0.00000,0.336834,0.451851,0,0
2,3,8,0,0,0,8,4,31,0,3,...,0.570979,0.145069,0,0,0,0.24923,0.105494,0.331609,0,0
3,3,8,0,0,0,8,4,31,0,3,...,0.752999,0.133916,0,0,0,0.10982,0.495719,0.472828,0,0
4,3,8,0,0,0,8,4,31,0,3,...,0.783438,0.154751,0,0,0,0.56745,0.395101,0.423861,0,0

In [5]:
# drop search_id and all columns with 1 unique value
ali_train.drop(columns=['search_id', 'categorical_1', 'numerical_58', 'numerical_59', 'numerical_60'], inplace=True)
ali_test.drop(columns=['search_id', 'categorical_1', 'numerical_58', 'numerical_59', 'numerical_60'], inplace=True)

In [6]:
train_categorical = ali_train[['categorical_2', 'categorical_3', 'categorical_4', 'categorical_5',
       'categorical_6', 'categorical_7', 'categorical_8', 'categorical_9',
       'categorical_10', 'categorical_11', 'categorical_12', 'categorical_13',
       'categorical_14', 'categorical_15', 'categorical_16']]

train_numerical = ali_train[['numerical_1',
       'numerical_2', 'numerical_3', 'numerical_4', 'numerical_5',
       'numerical_6', 'numerical_7', 'numerical_8', 'numerical_9',
       'numerical_10', 'numerical_11', 'numerical_12', 'numerical_13',
       'numerical_14', 'numerical_15', 'numerical_16', 'numerical_17',
       'numerical_18', 'numerical_19', 'numerical_20', 'numerical_21',
       'numerical_22', 'numerical_23', 'numerical_24', 'numerical_25',
       'numerical_26', 'numerical_27', 'numerical_28', 'numerical_29',
       'numerical_30', 'numerical_31', 'numerical_32', 'numerical_33',
       'numerical_34', 'numerical_35', 'numerical_36', 'numerical_37',
       'numerical_38', 'numerical_39', 'numerical_40', 'numerical_41',
       'numerical_42', 'numerical_43', 'numerical_44', 'numerical_45',
       'numerical_46', 'numerical_47', 'numerical_48', 'numerical_49',
       'numerical_50', 'numerical_51', 'numerical_52', 'numerical_53',
       'numerical_54', 'numerical_55', 'numerical_56', 'numerical_57',
       'numerical_61', 'numerical_62', 'numerical_63']]

test_categorical = ali_test[['categorical_2', 'categorical_3', 'categorical_4', 'categorical_5',
       'categorical_6', 'categorical_7', 'categorical_8', 'categorical_9',
       'categorical_10', 'categorical_11', 'categorical_12', 'categorical_13',
       'categorical_14', 'categorical_15', 'categorical_16']]

test_numerical = ali_test[['numerical_1',
       'numerical_2', 'numerical_3', 'numerical_4', 'numerical_5',
       'numerical_6', 'numerical_7', 'numerical_8', 'numerical_9',
       'numerical_10', 'numerical_11', 'numerical_12', 'numerical_13',
       'numerical_14', 'numerical_15', 'numerical_16', 'numerical_17',
       'numerical_18', 'numerical_19', 'numerical_20', 'numerical_21',
       'numerical_22', 'numerical_23', 'numerical_24', 'numerical_25',
       'numerical_26', 'numerical_27', 'numerical_28', 'numerical_29',
       'numerical_30', 'numerical_31', 'numerical_32', 'numerical_33',
       'numerical_34', 'numerical_35', 'numerical_36', 'numerical_37',
       'numerical_38', 'numerical_39', 'numerical_40', 'numerical_41',
       'numerical_42', 'numerical_43', 'numerical_44', 'numerical_45',
       'numerical_46', 'numerical_47', 'numerical_48', 'numerical_49',
       'numerical_50', 'numerical_51', 'numerical_52', 'numerical_53',
       'numerical_54', 'numerical_55', 'numerical_56', 'numerical_57',
       'numerical_61', 'numerical_62', 'numerical_63']]

In [7]:
from sklearn.preprocessing import OrdinalEncoder

train_categorical_encoded = train_categorical.copy()
test_categorical_encoded = test_categorical.copy()

encoder = OrdinalEncoder()
train_categorical_encoded[train_categorical.columns] = encoder.fit_transform(train_categorical)
test_categorical_encoded[test_categorical.columns] = encoder.fit_transform(test_categorical)

train_categorical_encoded.head()

,categorical_2,categorical_3,categorical_4,categorical_5,categorical_6,categorical_7,categorical_8,categorical_9,categorical_10,categorical_11,categorical_12,categorical_13,categorical_14,categorical_15,categorical_16
0,0.0,0.0,0.0,0.0,4.0,18.0,0.0,3.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,4.0,18.0,0.0,3.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,4.0,18.0,0.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,4.0,18.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,4.0,18.0,0.0,3.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0

In [8]:
train_click = ali_train['click']
train_conversion = ali_train['conversion']

test_click = ali_test['click']
test_conversion = ali_test['conversion']

In [ ]:
import json 

# load the validation indices
with open('./data/splits/aliexpress_val_indices.json', 'r') as f:
    cached_indices = json.load(f)

val_indices = np.array(cached_indices)
train_indices = np.setdiff1d(np.arange(len(ali_train)), val_indices)

In [14]:
import h5py

data_root_aliexpress = f'{data_root}/AliExpress_NL/'

with h5py.File(data_root_aliexpress + 'train_val_test.h5', 'w') as f:
    f.create_dataset('train/features_categorical', data=train_categorical_encoded.to_numpy()[train_indices])
    f.create_dataset('train/features_numerical', data=train_numerical.to_numpy()[train_indices])
    f.create_dataset('train/click', data=train_click.to_numpy()[train_indices])
    f.create_dataset('train/conversion', data=train_conversion.to_numpy()[train_indices])

    f.create_dataset('val/features_categorical', data=train_categorical_encoded.to_numpy()[val_indices])
    f.create_dataset('val/features_numerical', data=train_numerical.to_numpy()[val_indices])
    f.create_dataset('val/click', data=train_click.to_numpy()[val_indices])
    f.create_dataset('val/conversion', data=train_conversion.to_numpy()[val_indices])

    f.create_dataset('test/features_categorical', data=test_categorical_encoded.to_numpy())
    f.create_dataset('test/features_numerical', data=test_numerical.to_numpy())
    f.create_dataset('test/click', data=test_click.to_numpy())
    f.create_dataset('test/conversion', data=test_conversion.to_numpy())